<!DOCTYPE html>
<html lang="zh">
	<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{% if debug %} DEBUG{% end %}</title>
        <meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="{{ static_url('bootstrap-3.3.1/css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
		<link href="{{ static_url('css/styles.css') }}" rel="stylesheet" media="screen">
	</head>
	<body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <div id="container">
            {% block content %}
            {% end %}
            {% raw '<div style="display:none">foo</div>' %}
            {# autoescape None #}
        </div><!-- /container -->
        <script src="{{ static_url('js/jquery-1.11.1.min.js') }}"></script>
        <script src="{{ static_url('bootstrap-3.3.1/js/bootstrap.min.js') }}"></script>
        <script src="{{ static_url('js/jquery.cookie.js') }}"></script>
        <script src="{{ static_url('js/xsrf.js') }}"></script>
        {% block extra_script %}
        {% end %}
	</body>
</html>
