<!DOCTYPE html>
<html lang="zh">
	<head>
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="{{ static_url('bootstrap-3.1.1/css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="{{ static_url('bootstrap-3.0.0/assets/js/html5shiv.js') }}"></script>
          <script src="{{ static_url('bootstrap-3.0.0/assets/js/respond.min.js') }}"></script>
        <![endif]-->
		<link href="{{ static_url('css/styles.css') }}" rel="stylesheet" media="screen">
	</head>
	<body>
        <div id="container">
        </div><!-- /container -->
        <script src="{{ static_url('js/jquery-1.8.3.min.js') }}"></script>
        <script src="{{ static_url('bootstrap-3.1.1/js/bootstrap.min.js') }}"></script>
        <script src="{{ static_url('js/jquery.cookie.js') }}"></script>
        <script src="{{ static_url('js/xsrf.js') }}"></script>
        {% block extra_script %}
        {% end %}
	</body>
</html>
