{% extends 'base.html' %}

{% block content %}
<h1>{% raw linkify('Demo http://example.com/demo')%}</h1>

<h1>Release notes</h1>
<ul>
    <h2>1.0.141126</h2>
    <li>Chg: upgrade Require.js to 2.1.15</li>
    <li>Chg: upgrade Backbone.js to 1.1.2</li>
    <li>Chg: upgrade Underscore.js to 1.7.0</li>
    <li>Add: Marionette.js 2.2.0</li>
    <li>Add: Handlebars.js 2.0.0</li>
    <h2>1.0.141124</h2>
    <li>Chg: new index page.</li>
    <li>Chg: upgrade Tornado to 4.0.2</li>
    <li>Chg: upgrade Bootstrap to 3.3.1</li>
</ul>
{% end %}

{% block extra_script %}
    <script src="{{ static_url('js/underscore-min.js') }}"></script>
    <script src="{{ static_url('js/backbone-min.js') }}"></script>
    <script src="{{ static_url('js/backbone.marionette.min.js') }}"></script>
    <script src="{{ static_url('js/handlebars-v2.0.0.js') }}"></script>
{% end %}